/* Login */

.bodyLogin {
    background-image: url("../assets/pokemon.webp");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

.containerLogin {
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 7em;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerLogin h2 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.containerLogin input {
    width: 50%;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid #000;
    border-radius: 0.5em;
}

.containerLogin label {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.containerLogin input[type="submit"] {
    background-color: #f44336;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

.containerLogin input[type="submit"]:hover {
    background-color: #d32f2f;
}

/* Home */

.pokelogo{
    width: 70px;
    height: 70px;
    margin: 0 auto;
}

.navcolor{
   background:  #c21e27;
}

.btn-danger {
    border: 1px solid #f44336;
    background-color: #f9f9f9;
}

.busqueda{                      /*Barra busqueda pokemones*/
    width: 524px;
}

.pokemon-nuevo-btn{             /*Boton agregar pokemon*/
    margin-left: 389px;
}


.imagen-pokemon{
    width: 10em;
    height: auto;
}

.imagen-tipo{
    width: 2em;
    height: auto;
}

.card{
    height: 5em;
    background: rgba(207, 205, 205, 0.55) !important;
    cursor: pointer;
}
.card:hover {
    transform: scale(1.05); /* Hace un zoom al pasar el ratón */
    transition: transform 0.3s ease; /* Agrega una transición suave */
    background-color: #ff0000; /* Cambia el color de fondo a rojo */
}



/* Estilos para los detalles del Pokémon */
.pokemon-details {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.pokemon-details img.imagen-pokemon {
    width: 150px; /* Tamaño de la imagen del Pokémon */
    height: auto;
    margin-right: 20px; /* Espacio entre la imagen y los detalles */
}

.pokemon-info {
    flex: 1;
    font-family: Arial, sans-serif;
    padding: 10px;
    background-color: #f9f9f9; /* Color de fondo de los detalles */
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra para los detalles */
}

.pokemon-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.pokemon-info ul {
    list-style: none;
    padding: 0;
}

.pokemon-info ul li {
    margin-bottom: 5px;
    font-size: 1.2em;
}

.pokemon-info ul li img.imagen-tipo {
    width: 1.5em; /* Tamaño de las imágenes de tipo */
    height: auto;
    margin-right: 5px; /* Espacio entre las imágenes de tipo */
}
